
body{
    height: 100vh;
    background: linear-gradient(
        135deg,
        #83550f,
        #b66921c0
    );
}

.selections{
    display: flex;
    justify-content: center;
}

.selection{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 100ms;
}

.selection:hover{
    transform: scale(1.2);
    background: rgb(233, 177, 131);
    border-radius: 25px;
}

.being-choosen{
    background-color: aqua;
    border-radius: 25px;
   
}

.being-choosen-com{
    background-color: red;
    border-radius: 25px;
   
}